
<div class="container" style="margin-top: 10% ;">
  <form [formGroup]="myform">
    <div class="row">
      <h2 style="text-align:center">Login with Social Media</h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a  class="fb btn" (click)="facebookLogin()">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
         </a>
        <a  class="twitter btn" (click)="linkedinLogin()">
          <i class="fa fa-twitter fa-fw"></i> Login with LinkedIn
        </a>
        <a  class="google btn" (click)="googleLogin()" ><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
      </div>

      <div class="col">
          <div >
            <p style="font-weight: 30px; color: slateblue">Or sign in manually:</p>
          </div>
          <mat-form-field>
          <input type="text" name="username" matInput style="background-color: rgb(76, 235, 192)" placeholder="email" formControlName="email"  required>
          <mat-error style="color: red"  *ngIf="email.invalid && email.touched">Email is invalid</mat-error>
        </mat-form-field>
        <mat-form-field>
          <br>
        <input type="password" name="password" style="background-color: rgb(76, 235, 192)" matInput placeholder="Password" formControlName="password"required>
          <mat-hint align="end" style="color: brown" >length should be 8 and must have one letter and number</mat-hint>  
        <mat-error style="color: red" *ngIf="password.invalid && password.touched">Your password don't look nice</mat-error>
        </mat-form-field>
          <br>
          <br><br><br>
          <input type="submit" (click)="logIn()" value="Login">
        </div>
      
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col" >
      <a href="#" style="color:white; background-color: black" class="btn" (click)="routeHome()">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white; background-color: black" class="btn">Forgot password?</a>
    </div>
  </div>
</div>  
<!-- <div>
  <img src='{{ user.photoUrl }}'>
<div>
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div> 

<div>
    <app-navdrop></app-navdrop>
</div> -->